.jpretty-wrap {
    max-width: $image-width*$visible-items;
    min-height: $image-height;
    overflow: hidden;
    position: relative;

    * {
        box-sizing:border-box;
    }

    &:first-child {
        overflow: hidden;
    }

    ul,
    dl,
    ol {
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;
    }

    img {
        display: inline-block;
        max-width: 100%;
    }
}